@import "tailwindcss";


@theme {
    --font-Urbanist: "Urbanist", sans-serif; 
    --shadow-newMade: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
    --color-primary: #4F5DE4;
    --color-primaryTwo: #2A254D;
    --color-secondary: #F57005;
}