@import "tailwindcss";


@theme {
    --font-Urbanist: "Urbanist", sans-serif; 
    --shadow-newMade: 0 28px 30px rgba(99, 122, 166, 0.05);
    --color-primary: #4F5DE4;
    --color-primaryTwo: #2A254D;
    --color-secondary: #F57005;
}